@charset "UTF-8";
@font-face {
  font-family: "Geologica";
  src: url(../fonts/Geologica-Bold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Geologica";
  src: url(../fonts/Geologica-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Geologica";
  src: url(../fonts/Geologica-Thin.ttf) format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Geologica";
  src: url(../fonts/Geologica-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Geologica";
  src: url(../fonts/Geologica-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Geologica";
  src: url(../fonts/Geologica-SemiBold.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Rimma-sans";
  src: url(../fonts/RIMMA_SANS-BOLD.TTF) format("truetype");
}
html {
  /* Базовый размер шрифта */
  font-size: 1px;
}

@media (max-width: 1440px) {
  html {
    font-size: 0.0694444444vw; /* Пропорционально изменяем размер */
  }
}
body {
  font-family: "Geologica";
  font-weight: 700;
  font-style: normal;
  color: #272727;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 4px;
}

.logo {
  display: flex;
  width: 429px;
  width: clamp(245px, 245px + 184 * (100vw - 430px) / 1010, 429px);
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  justify-content: space-between;
  overflow: hidden;
  z-index: 30;
}

.logo > img:nth-child(1) {
  position: relative;
  z-index: 10;
  width: 30.77%;
}

.jumper {
  position: absolute;
  width: 58px;
  height: 47px;
  left: -15px;
  top: 23px;
}

.inscription {
  position: absolute;
  height: 94px;
  background: #272727;
  border-radius: 50px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 71.56%;
  height: 100%;
  font-size: clamp(12px, 12px + 10 * (100vw - 430px) / 1010, 22px);
}
.inscription span {
  font-family: "Rimma-sans";
  color: #fff;
  text-transform: uppercase;
}

.menu {
  text-transform: capitalize;
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.menu__item {
  height: -moz-fit-content;
  height: fit-content;
}

.nav__icons {
  display: flex;
  justify-content: space-between;
  height: 50px;
  gap: 15px;
}

.nav__icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #006939;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav__icon {
  position: relative;
  z-index: 100;
}

.mail__icon img {
  width: 26px;
}

.phone__icon img {
  width: 28px;
}

.mobile__icon {
  position: relative;
  display: none;
  cursor: pointer;
  font-family: "Geologica";
}

.menu__icon {
  position: absolute;
  width: 26px;
  height: 3px;
  background: #ffffff;
  border-radius: 2px;
  transition: 0.3s ease all;
}
.menu__icon::before, .menu__icon::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  background: #ffffff;
  border-radius: 2px;
  left: 3px;
}
.menu__icon::before {
  top: -10px;
  transition: 0.3s ease all;
}
.menu__icon::after {
  top: 10px;
  transition: 0.3s ease all;
}

.menu__icon__on {
  rotate: 45deg;
}
.menu__icon__on::before, .menu__icon__on::after {
  top: 0;
}
.menu__icon__on::before {
  width: 26px;
  rotate: 90deg;
  left: 0;
}

main {
  padding-bottom: 161px;
  margin-bottom: 24px;
}
main.container {
  display: flex;
  justify-content: space-between;
}

.main__text h1 {
  font-size: 52px;
  letter-spacing: -2.08px;
  margin-bottom: 10px;
  font-weight: 500;
}
.main__text h1 > p:nth-child(3) {
  margin-top: -10px;
}
.main__text .playfair {
  margin-top: -10px;
}

.main__text > p:nth-child(2) {
  margin-top: -5px;
  font-size: 20px;
  font-weight: 100;
  max-width: 530px;
}

.playfair {
  font-family: "Playfair Display";
  font-style: italic;
}

.main__text {
  margin-top: 144px;
  max-width: 100%;
}

.italic {
  font-style: italic;
}

.button__container {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  margin-top: 33px;
  gap: 30px;
}

.main__button {
  text-transform: capitalize;
  height: 92px;
  display: flex;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.main__button:hover {
  background: #006939;
}

.addresses {
  padding: 0 56px;
  background: #f11820;
}

.mobile__button {
  display: none;
  align-items: center;
}

.desktop__button {
  display: flex;
  align-items: center;
  transition: 0.3s ease all;
}
.desktop__button .metaball {
  background-image: url(../img/Metaball.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -4px;
  position: relative;
}
.desktop__button .metaball::before {
  content: "";
  background-image: url(../img/metaball_red_hover.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s ease all;
}
.desktop__button:hover .call {
  background: #f11820;
}
.desktop__button:hover .phone__ball {
  background: #f11820;
}
.desktop__button:hover .metaball::before {
  opacity: 1;
}
.desktop__button:hover .envelope__box::before {
  opacity: 1;
}

.call {
  padding: 0 60px 0 48px;
  background: #006939;
}

.metaball {
  margin-left: -13px;
  width: 54px;
  height: 60px;
}

.phone__ball {
  width: 92px;
  height: 92px;
  background: #006939;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: -12px;
  transition: 0.3s ease all;
}
.phone__ball .envelope__box {
  width: 40px;
  height: 32px;
  background: url(../img/red_envelope.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.phone__ball .envelope__box::before {
  content: "";
  background: url(../img/green_envelope_small.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s ease all;
}

.main__pic__container {
  padding-top: 108px;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.main__pic {
  max-width: 100%;
}

#map {
  display: block;
  width: 100%;
  height: clamp(430px, 430px + 145 * (100vw - 360px) / 1080, 575px);
  margin-bottom: 60px;
}

.adaptive__title {
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
}

.address {
  font-style: normal;
}

.address__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.address__title h2 > span:nth-child(2) {
  font-family: "Playfair Display";
  font-style: italic;
}

.address__span {
  max-width: 333px;
  width: 100%;
  font-weight: 100;
}

.contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 500;
  margin-bottom: 120px;
}

.contact__item {
  width: 100%;
  max-width: 33.3%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.address__item,
.phone__item,
.address__span {
  font-size: 16px;
}

.address__item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.address__item::before {
  content: url(../img/pointer.svg);
  display: inline-block;
  width: 30px;
  height: 43px;
}

.phone__item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.phone__item::before {
  content: url(../img/green_phone.svg);
  display: inline-block;
  width: 35px;
  height: 35px;
}

.phone__box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container__min {
  max-width: 1320px;
  padding: 0 40px;
  width: 100%;
  margin: 0 auto;
}

.frame__container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
  margin-bottom: 120px;
}
.frame__container::before, .frame__container::after {
  content: "";
  width: calc(100% - 122px);
  height: 2px;
  background: #272727;
}

.address__frame {
  margin: 0 22px;
}

.propane {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}
.propane h2 {
  font-style: italic;
}

.propane__text {
  max-width: 536px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.stove__img {
  margin-right: 20px;
  border-radius: 30px;
  max-width: 650px;
}

.propane__description {
  font-family: "Geologica";
  font-size: 26px;
  font-weight: 100;
  line-height: 1.3;
}

.propane__proporties {
  display: flex;
  justify-content: space-between;
}

.proporties__item {
  font-family: "Geologica";
  font-weight: 100;
  font-size: 16px;
  line-height: 1.3;
  padding: 18px 28px;
  border-radius: 50px;
  border: 2px solid #f11820;
}

section.services {
  margin-bottom: 120px;
}

.services__inner {
  padding-top: 120px;
  background: #006939;
  border-radius: 30px;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

.our__services {
  padding-left: 42px;
  padding-right: 42px;
  display: flex;
  justify-content: space-between;
}
.our__services .adaptive__title {
  align-self: center;
  margin-right: 15px;
}

.services__description {
  max-width: 387px;
  font-family: "Geologica";
  font-weight: 100;
  font-size: 16px;
  line-height: 1.3;
}

.service__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.service__list {
  padding: 120px 42px;
}
.service__list h2 {
  letter-spacing: -1px;
  line-height: 1.1;
  margin-bottom: 24px;
}

.service__pic {
  border-radius: 30px;
}

.service__text {
  max-width: 609px;
}

.about__service {
  font-family: "Geologica";
  font-size: 20px;
  font-weight: 100;
  line-height: 1.3;
  margin-bottom: 29px;
}

.service__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 554px;
}

.service__btn {
  font-family: "Geologica";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  padding: 28px 52px;
  border: 5px solid #f11820;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
}

.big__btn {
  display: flex;
  align-items: center;
}

.btn__jumper {
  margin-left: -14px;
}

.box__envelope {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  border: 5px solid #f11820;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -14px;
}

.btn__envelope {
  width: 40px;
  height: 32px;
}

.btn__phone {
  width: 38px;
  height: 38px;
}

.service__frame__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.service__frame__container::before, .service__frame__container::after {
  content: "";
  width: calc(100% - 122px);
  height: 2px;
  background: #fff;
}

.service__frame {
  margin: 0 22px;
}

.service__pic {
  max-width: 45%;
  align-self: center;
}

p.about__service:nth-child(3) {
  margin-top: -18px;
}

.advantages {
  margin-bottom: 120px;
}
.advantages .adaptive__title {
  font-size: 52em;
}
.advantages .advatages__text {
  max-width: 386rem;
}
.advantages .advantages__top {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 0 42px;
  margin-bottom: 60px;
}
.advantages .advatages__text {
  max-width: 386px;
  font-family: "Geologica";
  font-weight: 100;
  font-size: 16px;
}
.advantages .advantage__list {
  display: flex;
  justify-content: space-between;
  padding: 0 42px;
  color: #fff;
  font-family: "Geologica";
  font-weight: 400;
  font-size: 1rem;
}
.advantages .advantage__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350em;
  aspect-ratio: 350/250;
  background: #f11820;
  padding: 32rem 46rem 29rem;
  border-radius: 15rem;
  box-sizing: border-box;
  font-size: 1rem;
}
.advantages .advantage__top {
  display: flex;
  gap: 24rem;
  justify-content: space-between;
}
.advantages .advantage__ico {
  width: 76rem;
  height: 76rem;
}
.advantages .advantage__text {
  align-self: center;
  line-height: 1.2;
  font-size: 22em;
}
.advantages .stat {
  font-size: 56em;
  font-weight: 700;
  line-height: 1.3;
}

.footer {
  padding: 105px 40px;
  background: #006939;
  border-radius: 30px;
  margin-bottom: 60px;
}

.footer__menu {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.footer__pic {
  width: 30.77%;
}

.footer__logo {
  display: flex;
  width: clamp(245px, 245px + 184 * (100vw - 430px) / 1010, 429px);
}

.footer__inscription {
  width: 71.56%;
  aspect-ratio: 307/94;
  border-radius: 50px;
  background: #fff;
  margin-left: -2.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #272727;
  font-family: "Rimma-sans";
  font-weight: 700;
  text-transform: uppercase;
  font-size: clamp(12px, 12px + 10 * (100vw - 430px) / 1010, 22px);
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-family: "Geologica";
  font-size: 20px;
  text-transform: capitalize;
  color: #fff;
  align-items: center;
}

.footer__contacts {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}

.footer__contacts__item a {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #fff;
}

.footer__envelope {
  width: 26px;
  height: 18px;
}

.footer__phone {
  width: 28px;
  height: 28px;
}

.pop-up__menu {
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 100%;
  background: #fff;
  top: 0;
  left: 100%;
  transition: 0.3s ease all;
}

.pop-up__menu__on {
  transform: translateX(-100%);
}

.pop-up__menu__inner {
  padding: 86px 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  height: 100%;
}

.pop-up__item {
  height: 100%;
}

.pop-up__nav__menu {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 500;
  height: 100%;
}

.pop-up__nav__menu__item {
  text-align: end;
}

.pop-up__nav__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pop-up__addresses {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 40px;
  height: 100%;
}

.pop-up__icons {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 15px;
  align-items: end;
  height: 100%;
}

@media (max-width: 1440px) {
  .main__pic__container {
    padding-top: 80px;
  }
  .button__container {
    gap: 20px;
  }
  .addresses {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: clamp(36px, 36px + 20 * (100vw - 992px) / 448, 56px);
    padding-right: clamp(36px, 36px + 20 * (100vw - 992px) / 448, 56px);
  }
  .main__text {
    margin-top: 80px;
    max-width: 45%;
  }
  .main__text h1 {
    font-size: clamp(33px, 33px + 19 * (100vw - 992px) / 448, 52px);
  }
  .main__text h1 > p:nth-child(2) {
    font-size: clamp(26px, 26px + 20 * (100vw - 992px) / 448, 46px);
  }
  .main__text > p:nth-child(2) {
    font-size: clamp(16px, 16px + 4 * (100vw - 992px) / 448, 20px);
  }
  .call {
    width: calc(100% - 121px);
    padding-top: 0;
    padding-bottom: 0;
    padding-left: clamp(36px, 36px + 20 * (100vw - 992px) / 448, 56px);
    padding-right: clamp(36px, 36px + 20 * (100vw - 992px) / 448, 56px);
  }
  .adaptive__title {
    font-size: clamp(26px, 26px + 9 * (100vw - 992px) / 448, 35px);
  }
  .stove__img {
    width: 100%;
    margin: 0;
    max-width: 45%;
  }
  .propane__description {
    font-size: clamp(16px, 16px + 10 * (100vw - 992px) / 448, 26px);
  }
  .propane__text {
    max-width: 45%;
  }
  .proporties__item {
    font-size: clamp(14px, 14px + 2 * (100vw - 992px) / 448, 16px);
    padding: 15px 11px;
    padding-left: clamp(11px, 11px + 17 * (100vw - 992px) / 448, 28px);
    padding-right: clamp(11px, 11px + 17 * (100vw - 992px) / 448, 28px);
  }
  .our__services {
    justify-content: space-around;
    width: 100%;
    padding: 0;
  }
  .our__services .adaptive__title {
    align-self: center;
    margin-right: 0;
    width: 45%;
  }
  .about__service {
    font-size: 16px;
  }
  .service__list h2 {
    margin-bottom: 0;
    letter-spacing: -1px;
  }
  .services__description,
  .service__text {
    width: 45%;
  }
  .service__text {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .service__btn {
    padding-left: clamp(16px, 16px + 36 * (100vw - 992px) / 448, 56px);
    padding-right: clamp(16px, 16px + 36 * (100vw - 992px) / 448, 56px);
  }
  .service__button__item {
    width: 100%;
  }
  .service__address {
    display: inline-block;
    text-align: center;
  }
  .big__btn {
    width: 100%;
  }
  span.service__address {
    width: calc(100% - 121px);
  }
  .service__list {
    padding-top: 80px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 80px;
  }
  div.service__list:nth-child(6) {
    padding-bottom: 0;
  }
  div.service__list:nth-child(2) {
    padding-top: 40px;
  }
  .services__inner {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .about__service {
    margin-bottom: 0;
  }
}
@media (max-width: 991px) {
  .menu {
    display: none;
  }
  .desktop__icon {
    display: none;
  }
  .mobile__icon {
    display: block;
  }
  .desktop__button {
    display: none;
  }
  .mobile__button {
    display: flex;
  }
  .addresses {
    padding: 0 56px;
    background: #f11820;
  }
  .call {
    padding: 0 60px 0 48px;
  }
  main.container {
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 80px;
  }
  .main__text {
    max-width: 650px;
  }
  .main__text h1 {
    font-size: clamp(35px, 35px + 17 * (100vw - 360px) / 1080, 52px);
    max-width: 100%;
  }
  .main__text h1 .adaptive__title {
    font-size: clamp(26px, 26px + 26 * (100vw - 360px) / 1080, 52px);
  }
  .main__text h1 > p:nth-child(2) {
    font-size: clamp(29px, 29px + 23 * (100vw - 360px) / 1080, 52px);
    margin-bottom: 5px;
  }
  .main__text > p:nth-child(2) {
    font-size: clamp(16px, 16px + 4 * (100vw - 430px) / 1010, 20px);
  }
  .main__text {
    margin-top: 40px;
  }
  .button__container {
    flex-direction: column;
    gap: 30px;
  }
  #map {
    margin-bottom: 40px;
  }
  .contacts {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    font-size: 18px;
    margin-bottom: 80px;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .contact__item {
    max-width: 100%;
    gap: 12px;
  }
  .phone__item,
  .address__item {
    gap: 50px;
  }
  .frame__container {
    margin-bottom: 80px;
  }
  .propane {
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }
  .propane__text {
    max-width: 536px;
    padding-top: 40px;
  }
  .propane__text h2 {
    margin-bottom: 10px;
  }
  .propane__description {
    margin-bottom: 20px;
    font-size: clamp(16px, 16px + 10 * (100vw - 430px) / 1010, 26px);
  }
  .proporties__item {
    font-size: 16px;
    line-height: 1.3;
    padding: 18px 28px;
    padding-left: clamp(10px, 10px + 12 * (100vw - 360px) / 631, 22px);
    padding-right: clamp(10px, 10px + 12 * (100vw - 360px) / 631, 22px);
    border-radius: 50px;
  }
  section.services {
    margin-bottom: 80px;
  }
  .services__inner {
    padding: 40px 0;
    border-radius: 15px;
  }
  .stove__img {
    border-radius: 15px;
    max-width: 496px;
  }
  .propane__text {
    max-width: 496px;
  }
  .service__pic {
    max-width: 100%;
  }
  .service__pic {
    border-radius: 15px;
  }
  .services__inner {
    padding-top: 40px;
  }
  .service__buttons {
    flex-direction: column;
    gap: 20px;
  }
  .our__services {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 528px;
    width: 100%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .our__services .adaptive__title {
    align-self: flex-start;
    margin-right: 0;
    width: 100%;
  }
  .services__description {
    width: 100%;
  }
  .service__text {
    width: 100%;
  }
  .services__description,
  .service__text {
    max-width: 496px;
  }
  .service__box {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .service__list h2 {
    margin-bottom: 18px;
  }
  .service__buttons {
    gap: 72px;
  }
  .service__btn {
    width: 100%;
  }
  .about__service {
    margin-bottom: 40px;
  }
  .our__services,
  .service__list {
    padding-right: 16px;
    padding-left: 16px;
  }
  p.about__service:nth-child(3) {
    margin-top: -57px;
  }
  .footer {
    padding: 40px 36px;
    border-radius: 15px;
  }
  .footer__nav {
    justify-content: start;
  }
  .footer__menu {
    flex-direction: column;
    gap: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer__contacts {
    justify-content: start;
  }
  .nav.container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background: #fff;
    padding-bottom: 20px;
  }
  main.container {
    margin-top: 83px;
  }
}
@media (max-width: 767px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .advantages {
    margin-bottom: 80px;
  }
  .advantages .adaptive__title {
    font-size: 96rem;
  }
  .advantages .advantages__top {
    flex-direction: column;
  }
  .advantages .advantage__top {
    align-items: flex-start;
    gap: 72rem;
    padding: 0;
    margin-bottom: 40px;
  }
  .advantages .advantage__text {
    max-width: 100%;
    width: 100%;
    text-align: left;
    font-size: 77.77rem;
  }
  .advantages .advantage__list {
    flex-direction: column;
    gap: 40px;
    padding: 0 20px;
  }
  .advantages .advantage__item {
    width: 100%;
    font-size: 1.81rem;
    padding: 96rem 138rem 87rem;
    border-radius: 45rem;
  }
  .advantages .advantage__ico {
    width: 228rem;
    height: 228rem;
  }
  .advantages .stat {
    font-size: 168rem;
  }
}
@media (max-width: 690px) {
  .address__title {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 358px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26px;
  }
  .proporties__item {
    font-size: 14px;
    padding: 14px 20px;
  }
  .service__btn {
    padding: 0;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .service__buttons {
    gap: 32px;
  }
}
@media (max-width: 470px) {
  .proporties__item {
    font-size: 12px;
    padding: 8px 10px;
  }
  .services__description,
  .service__text {
    max-width: 100%;
  }
  .footer__nav {
    flex-direction: column;
    align-items: start;
  }
}
#auto {
  position: absolute;
  width: 88%;
  top: 63.61%;
  left: 130.77%;
}

.car {
  width: 100%;
}

.wheel {
  width: 13%; /* Диаметр колеса */
  aspect-ratio: 1/1;
  top: 40%;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 5px solid #000;
  position: absolute;
}

#wheel1 {
  left: 23%;
}

#wheel2 {
  left: 77%;
}

@keyframes carMoving {
  0% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-156%);
  }
  100% {
    transform: translateX(-156%);
  }
}
@keyframes wheelsRolling {
  0% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-1296deg);
  }
  100% {
    transform: rotate(-1296deg);
  }
}
.car-moving {
  animation: carMoving 5s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

.wheels-rolling {
  animation: wheelsRolling 5s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}/*# sourceMappingURL=style.css.map */