@font-face {
  font-family: "Geologica";
  src: url(../fonts/Geologica-Bold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Geologica";
  src: url(../fonts/Geologica-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Geologica";
  src: url(../fonts/Geologica-Thin.ttf) format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Geologica";
  src: url(../fonts/Geologica-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Geologica";
  src: url(../fonts/Geologica-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Geologica";
  src: url(../fonts/Geologica-SemiBold.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Rimma-sans";
  src: url(../fonts/RIMMA_SANS-BOLD.TTF) format("truetype");
}
body {
  font-family: "Geologica";
  font-weight: 700;
  font-style: normal;
  color: #272727;
}
.container {
  max-width: 1440px;
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 4px;
}
.logo {
  display: flex;
  width: 429px;
  width: clamp(
    245px,
    calc(245px + (429 - 245) * ((100vw - 430px) / (1440 - 430))),
    429px
  );
  height: fit-content;
  position: relative;
  justify-content: space-between;
  overflow: hidden;
}
.logo > img:nth-child(1) {
  position: relative;
  z-index: 10;
  width: 30.77%;
}
.jumper {
  position: absolute;
  width: 58px;
  height: 47px;
  left: -15px;
  top: 23px;
}
.inscription {
  position: absolute;
  // width: 307px;
  height: 94px;
  background: #272727;
  border-radius: 50px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 71.56%;
  height: 100%;
  font-size: clamp(
    12px,
    calc(12px + (22 - 12) * ((100vw - 430px) / (1440 - 430))),
    22px
  );

  span {
    font-family: "Rimma-sans";
    // font-size: 22px;
    color: #fff;
    text-transform: uppercase;
  }
}
.menu {
  text-transform: capitalize;
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.menu__item {
  height: fit-content;
}
.nav__icons {
  display: flex;
  justify-content: space-between;
  // width: 115px;
  height: 50px;
  gap: 15px;
}
.nav__icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #006939;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mail__icon {
  & img {
    width: 26px;
  }
}
.phone__icon {
  & img {
    width: 28px;
  }
}
.mobile__icon {
  position: relative;
  display: none;
  cursor: pointer;
}
.menu__icon {
  position: absolute;
  width: 26px;
  height: 3px;
  background: #ffffff;
  border-radius: 2px;
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background: #ffffff;
    border-radius: 2px;
    left: 3px;
  }
  &::before {
    top: -10px;
  }
  &::after {
    top: 10px;
  }
}

// MAIN
main {
  &.container {
    display: flex;
    justify-content: space-between;
  }
  padding-bottom: 161px;
  margin-bottom: 24px;
}
.main__text {
  h1 {
    font-size: 52px;
    letter-spacing: -2.08px;
    margin-bottom: 10px;
    font-weight: 500;
    & > p:nth-child(3) {
      margin-top: -10px;
    }
  }
}
.main__text > p:nth-child(2) {
  margin-top: -5px;
  font-size: 20px;
  font-weight: 100;
  max-width: 530px;
}
.playfair {
  margin-top: -10px;
  font-family: "Playfair Display";
}
.main__text {
  margin-top: 144px;
  max-width: 100%;
}
.italic {
  font-style: italic;
}
.button__container {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  margin-top: 33px;
  gap: 30px;
}
.main__button {
  text-transform: capitalize;
  height: 92px;
  display: flex;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}
.addresses {
  padding: 0 56px;
  background: #f11820;
}
.mobile__button {
  display: none;
  align-items: center;
}
.desktop__button {
  display: flex;
  align-items: center;
}
.call {
  padding: 0 60px 0 48px;
  background: #006939;
}
.metaball {
  margin-left: -13px;
  width: 54px;
  height: 60px;
}
.phone__ball {
  width: 92px;
  height: 92px;
  background: #006939;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: -12px;
}

.main__pic__container {
  padding-top: 108px;
  max-width: 100%;
}
.main__pic {
  max-width: 100%;
}

// MAP

#map {
  display: block;
  width: 100%;
  height: clamp(
    430px,
    calc(430px + (575 - 430) * ((100vw - 360px) / (1440 - 360))),
    575px
  );
  margin-bottom: 60px;
}

.adaptive__title {
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
}

@media (max-width: 1440px) {
  main {
    &.container {
      flex-direction: column-reverse;
      align-items: center;
      padding-bottom: 80px;
    }
  }
  .main__pic__container {
    padding-top: 80px;
  }
  .main__text {
    margin-top: 40px;
    & h1 {
      font-size: clamp(
        35px,
        calc(35px + (52 - 35) * ((100vw - 360px) / (1440 - 360))),
        52px
      );
      & > p:nth-child(2) {
        font-size: clamp(
          29px,
          calc(29px + (52 - 29) * ((100vw - 360px) / (1440 - 360))),
          52px
        );
        margin-bottom: 5px;
      }
    }
    & > p:nth-child(2) {
      font-size: clamp(
        16px,
        calc(16px + (20 - 16) * ((100vw - 430px) / (1440 - 430))),
        20px
      );
    }
  }
  .button__container {
    flex-direction: column;
  }
  .call {
    width: calc(100% - 121px);
  }
  .adaptive__title {
    font-size: clamp(
      32px,
      calc(32px + (52 - 32) * ((100vw - 430px) / (1440 - 430))),
      52px
    );
  }
}
@media (max-width: 991px) {
  .menu {
    display: none;
  }
  .desktop__icon {
    display: none;
  }
  .mobile__icon {
    display: block;
  }
  .desktop__button {
    display: none;
  }
  .mobile__button {
    display: flex;
  }
  #map {
    margin-bottom: 40px;
  }
}

// АДРЕСА
.address {
}
.address__title {
  display: flex;
  justify-content: space-between;
  & h2 > span:nth-child(2) {
    font-family: "Playfair Display";
    font-style: italic;
  }
}
.address__span{
  max-width: 333px;
  width: 100%;
  font-weight: 100;
}

@media(max-width:599px){
  .address__title{
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 358px;
    margin: 0 auto;
  }
}